server:
  port: 8080

logging:
  config: classpath:logback-spring.xml
  file:
    #name: /var/log/appliction.log
    name: ./appliction.log
  level:
    root: INFO
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7

filebeat:
#  file: /var/log/service.log
  file: ./service.log
